.header { 
  &__container {
    height: 112px;
    max-width: 1440px;
    margin: 0 auto ;

    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
  }

  &__top {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-left: 135px;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__user {
    margin-right: 135px;
  }
}

@media (max-width: $desktop-width) {
  .header {
    &__logo {
      margin-left: 60px;
    }

    &__user {
      margin-right: 60px;
    }
  }
}

@media (max-width: $phone-width) {
  .header {
    &__container {
      height: 80px;
    }

    &__top {
      padding-top: 10px;
    }

    &__logo {
      margin-left: 20px;
    }

    &__user {
      margin-right: 20px
    }
  }
}
