.post {
  width: 374px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  border-radius: 8px;
  background-color: white;

  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
  transition: 300ms;

  &:hover {
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.30);
  }

  &__shared {
    display: flex;
    align-items: center;

    padding-left: 24px;
    padding-bottom: 10px;

    font-size: 16px;
    font-weight: 600;
  }

  &__email {
    width: 247px;
    padding-right: 3px;
    padding-left: 3px;
    margin-left: 4px;
    background-color: $background-color;
    border-radius: 6px;

    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__text {
    max-width: 326px;
    padding: 0 0 42px 24px;

    font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
    font-size: 36px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin: 0 24px 24px 24px;
  }

  &__name {
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 600;
  }

  &__point {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;

    border-radius: 50%;
    background-color: #b2b3bb;
  }

  &__share {
    color: $link-orange;
    transition: 300ms;

    &:hover {
      color: $link-orange-hover;
    }
  }
}
