.profile {
  &__container {
    margin-right: 67px;
    width: 350px;
    display: flex;
    flex-direction: column;
  }

  &__info {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
  }

  &__options {
    align-self: start;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
  }
}
