.user {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__name {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.5px;
  }

  &__photo {
    width: 32px;
    height: 32px;

    margin-left: 20px;
  }

  &__arrow {
    margin-left: 16px;
    margin-right: 21px;
  }

  &__arrow,
  &__bell,
  &__gift,
  &__modify {
    cursor: pointer;
  }

  &__bell,
  &__gift,
  &__modify {
    transition: 300ms;

    &:hover {
      transform: scale(1.2);
    }
  }
}