.profile {
  &__container {
    margin-right: 67px;
    width: 350px;
    display: flex;
    flex-direction: column;
  }

  &__info {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1220px) {
  .profile {
    &__container {
      margin-right: 0;
    }
  }
}

@media (max-width: $tablet-width) {
  .profile {
    &__container {
      width: 280px;
    }

    &__info {
      width: 280px;
      margin-top: 52px;
    }

    &__photo {
      width: 100px;
      height: 100px;
    }
  }
}
